version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    reviewers:
      - "KostLinux"
  - package-ecosystem: "npm"
    directory: "ui/"
    schedule:
      interval: "monthly"
    reviewers:
      - "KostLinux"